{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praca Mikołaja i Leszka</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/contact-style.css' %}">

</head>

<body>
    <header>
        <a href="#" class="brand">Home</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="../home">Home</a>
                <a href="../about">About</a>
                <a href="../#">Explore</a>
                <a href="../gallery">Gallery</a>
                <a href="../forum">Forum</a>
            </div>
        </div>
    </header>
    <section class="home">

        <section class="contact-section">
            <h2>Siedziba</h2>
            <p class="contact-info">Fundacja DeepOcean Polska<br>
                <br>
                NIP: 521-32-41-055<br>
                REGON: 015481019<br>
                KRS: 0000160673<br>
                Usypiskowa 11<br>
                02-386 Warszawa<br>
            </p>
        </section>

        <section class="contact-section">
            <h2>Kontakt dla darczyńców indywidualnych</h2>
            <p class="contact-info">
                tel. +48 22 660 44 34<br>
                <br>
                email: klub@deepocean.pl<br>
            </p>
        </section>

        <section class="contact-section">
            <h2>Kontakt z sekretariatem</h2>
            <p class="contact-info">

                tel. +48 22 660 44 33<br>
                <br>
                email: kontakt@deepocean.pl<br>
                <br>
                Informujemy o zamknięciu biura terenowego Projektu "Odra" we Wrocławiu z dniem 1 lipca 2011 roku.
                Wszelką korespondencję prosimy kierować na adres biura Fundacji WWF Polska w Warszawie.>
            </p>
        </section>

        <section class="contact-section">
            <h2>Praca dla DeepOcean</h2>
            <p class="contact-info">
                Zapraszamy do aplikowania w zakładce:
                https://www.wwf.pl/oferty-pracy
            </p>
        </section>


        <div class="media-icons">
            <a href="#"> <i class="fab fa-facebook-f"></i></a>
            <a href="#"> <i class="fab fa-instagram"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
        </div>

        <div class="bombelki">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
        </div>
    </section>

    <script src="{% static 'pages/script.js' %}" type="text/javascript" defer></script>
</body>

</html>