{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praca Mikołaja i Leszka</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <header>
        <a href="#" class="brand">Home</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="../home">Home</a>
                <a href="../about">About</a>
                <a href="../#">Explore</a>
                <a href="../gallery">Gallery</a>
                <a href="../forum">Forum</a>
            </div>
        </div>
    </header>
    <section class="home">
        <video class="video-slide active" src="{% static 'pages/img/slajd1.mp4' %}" autoplay muted loop></video>
        <video class="video-slide" src="{% static 'pages/img/slajd2.mp4' %}" autoplay muted loop></video>
        <video class="video-slide" src="{% static 'pages/img/slajd3.mp4' %}" autoplay muted loop></video>
        <video class="video-slide" src="{% static 'pages/img/slajd4.mp4' %}" autoplay muted loop></video>
        <div class="content active">
            <h1>Deep<br><span>Ocean</span></h1>
            <p>tutaj bedzie tekst do tego ale jeszcze nic nie wymysliłem a to jest pierwszy slajd</p>
            <a href="#">Read More</a>
        </div>
        <div class="content">
            <h1>Slajd<br><span>2</span></h1>
            <p>tutaj bedzie tekst do tego ale jeszcze nic nie wymysliłem plus to slajd 2</p>
            <a href="#">Read More</a>
        </div>
        <div class="content">
            <h1>Slajd<br><span>3</span></h1>
            <p>tutaj bedzie tekst do tego ale jeszcze nic nie wymysliłe mplus to slajd 3</p>
            <a href="#">Read More</a>
        </div>
        <div class="content">
            <h1>Slajd<br><span>4</span></h1>
            <p>tutaj bedzie tekst do tego ale jeszcze nic nie wymysliłem plus to slajd 4</p>
            <a href="#">Read More</a>
        </div>
        <div class="media-icons">
            <a href="#"> <i class="fab fa-facebook-f"></i></a>
            <a href="#"> <i class="fab fa-instagram"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
        <div class="bombelki">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
        </div>
    </section>

    <script src="{% static 'pages/script.js' %}" type="text/javascript" defer></script>
</body>

</html>