{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praca Mikołaja i Leszka</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/form-style.css' %}">

</head>

<body>
    <header>
        <a href="#" class="brand">Home</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">
                <a href="../home">Home</a>
                <a href="../about">About</a>
                <a href="../#">Explore</a>
                <a href="../gallery">Gallery</a>
                <a href="../forum">Forum</a>
            </div>
        </div>
    </header>
    <section class="home">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>


        <div class="media-icons">
            <a href="#"> <i class="fab fa-facebook-f"></i></a>
            <a href="#"> <i class="fab fa-instagram"></i></a>
            <a href="#"> <i class="fab fa-twitter"></i></a>
        </div>

        <div class="bombelki">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
            <img src="{% static 'pages/bubble.png' %}">
        </div>
    </section>

    <script src="{% static 'pages/script.js' %}" type="text/javascript" defer></script>
</body>

</html>